@page
@model Topcat_Cat_Hotel.Pages.Public.RegisterCatModel
@using Topcat_Cat_Hotel.Models.Enums
@{
    bool codeValid = Model.CodeValid;
}

<head>
    <link href="~/css/Public/registerCat.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Public/registerCatNumToggler.js"></script>
    <script src="~/js/Public/tabNavigationCat.js"></script>
    <script src="~/js/Public/customValidationRegisterCat.js"></script>
</head>

<body>
    @if (!codeValid && Model.User == null)
    {
        <div class="body--codeApproval--container">
            <span class="introTxt">Please Enter Your Registration Code:</span>
            <form asp-page-handler="codeSubmission" method="post">
                <input type="text" asp-for="CodeInfo.Code" value="" placeholder="Your Unique Code" maxlength="6" />
                <button class="codeSubmission">Submit</button>
            </form>
            <span class="codeErrorMsg">
                @if (ViewData.ModelState["CodeInfo.Code"]?.Errors.Count > 0)
                {
                    @ViewData.ModelState["CodeInfo.Code"].Errors[0].ErrorMessage
                }
            </span>
        </div>
    }
    else if (codeValid || Model.User != null && Model.User.Role.Equals("admin"))
    {
        <div class="body--registerCat--container">
            <span>Register Your Cat</span>
            @if (Model.User != null && Model.User.Role.Equals("admin"))
            {
                <a asp-page="/Admin/indexAdmin">
                    <i class="homeIcon"></i>
                </a>
            }
            <form class="numCatsForm" asp-page-handler="submitNumOfCats" method="post">
                <div class="inputGroup">
                    <label for="NumOfCats">Number of Cats: </label>
                    <input type="number" id="NumOfCats" asp-for="RegisterCatViewModel.NumOfCats" placeholder="#" maxlength="2" max="3" required />
                </div>
                <button type="submit" class="submitBtn">Submit Number of Cats</button>
            </form>

            @if (Model.RegisterCatViewModel.Cats.Count > 0)
            {
                <form class="registerCatForm" asp-page-handler="registerCat" method="post">
                    <div class="tab">
                        @for (int i = 0; i < Model.RegisterCatViewModel.NumOfCats; i++)
                        {
                            <button class="tablinks" data-catname="Cat@(i + 1)" onclick="openCatDetails(event, 'Cat@(i + 1)')">Cat @(i + 1)</button>
                        }
                    </div>

                    @for (int i = 0; i < Model.RegisterCatViewModel.NumOfCats; i++)
                    {
                        <div id="Cat@(i + 1)" class="tabcontent">
                            <partial name="~/Pages/Public/Partials/_CatDetailsPartial.cshtml" model="Model.RegisterCatViewModel.Cats[i]" />
                        </div>
                    }

                    <div class="inputGroup">
                        <label for="OwnersName">Owner's Name:</label>
                        <input type="text" asp-for="RegisterCatViewModel.OwnersName" placeholder="Owner's Name" required />
                    </div>

                    <div class="inputGroup">
                        <label for="OwnersAddress">Owner's Address:</label>
                        <input type="text" asp-for="RegisterCatViewModel.OwnersAddress" placeholder="Owner's Address" required />
                    </div>

                    <div class="inputGroup">
                        <label for="OwnersPostcode">Owner's Postcode:</label>
                        <input type="text" asp-for="RegisterCatViewModel.OwnersPostcode" placeholder="Owner's Postcode" required />
                    </div>

                    <div class="inputGroup">
                        <label for="OwnersMobile">Owner's Mobile:</label>
                        <input type="text" asp-for="RegisterCatViewModel.OwnersMobile" placeholder="Owner's Mobile" required />
                    </div>

                    <div class="inputGroup">
                        <label for="GeneralHealthDetails">General Health Details:</label>
                        <input type="text" asp-for="RegisterCatViewModel.GeneralHealthDetails" placeholder="General Health Details" />
                    </div>

                    <div class="inputGroup">
                        <label for="VetDetails">Vet Details:</label>
                        <input type="text" asp-for="RegisterCatViewModel.VetDetails" placeholder="Vet Details" />
                    </div>

                    <button type="submit" class="submitBtn">Register</button>
                </form>
            }
        </div>
    }
    else
    {
        <span class="errorMsg">An Error has occurred, Contact system administrator</span>
    }
</body>
