body {
}

.body--codeApproval--container {
    background-color: #EEEDEB;
    border: 8px solid #E0CCBE;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.introTxt {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #747264;
    margin-bottom: 20px;
}

.body--codeApproval--container input {
    border: none;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.1s;
}

.body--codeApproval--container input:focus {
    outline: 3px solid #747264;
}

.codeSubmission {
    background-color: #747264;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

.codeErrorMsg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: 10px;
    text-align: center;
}

.codeErrorMsg.error {
    background-color: #f2dede;
    color: #a94442;
    padding: 5px;
    border-radius: 10px;
}

.body--registerCat--container {
    background-color: #EEEDEB;
    border: 8px solid #E0CCBE;
    border-radius: 20px;
}

.body--registerCat--container span {
    position: relative;
    top: 10px;
    margin: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #747264;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.numCatsForm {
    margin-top: 20px;
    padding: 8px;
}

.tab {
    position: relative;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E0CCBE;
    border-radius: 20px;
    padding: 10px;
}

.tablinks {
    border: none;
    background-color: #747264;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
}

.inputGroup label {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.inputGroup input {
    background-color: #E0CCBE;
    border: none;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.inputGroup input:focus {
    outline: 3px solid #747264;
}

.submitBtn {
    border: none;
    background-color: #747264;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}