@page
@model Topcat_Cat_Hotel.Pages.Admin.ApproveRegistrationsModel
@{
    ViewData["HideNavButtons"] = true;
}

<head>
    <link href="~/css/Admin/approveRegistrations.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div class="body--introSection--container">
        <span class="introTxt">Approve Registrations</span>
        <i class="homeIcon"></i>
    </div>

    <div class="body--approveReg--Container">

    </div>

</body>