@model Topcat_Cat_Hotel.ViewModels.CatDetailsViewModel

<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Name">Cat Name:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].Name" placeholder="Cat's Name" maxlength="50" id="registerCat.Cats[@Model.Index].Name" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Breed">Breed:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].Breed" placeholder="Breed" maxlength="50" id="registerCat.Cats[@Model.Index].Breed" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Colour">Colour:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].Colour" placeholder="Colour" maxlength="50" id="registerCat.Cats[@Model.Index].Colour" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Age">Age:</label>
    <input type="number" name="registerCat.Cats[@Model.Index].Age" placeholder="Age" id="registerCat.Cats[@Model.Index].Age" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Sex">Sex:</label>
    <select name="registerCat.Cats[@Model.Index].Sex" asp-items="Html.GetEnumSelectList<Topcat_Cat_Hotel.Models.Enums.Gender>()" id="registerCat.Cats[@Model.Index].Sex"></select>
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Microchipped">Microchipped:</label>
    <input type="checkbox" name="registerCat.Cats[@Model.Index].Microchipped" class="microchippedCheckbox" id="registerCat.Cats[@Model.Index].Microchipped" />
</div>
<div class="inputGroup microchipNumberInput">
    <label for="registerCat.Cats[@Model.Index].MicrochipNumber">Microchip Number:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].MicrochipNumber" placeholder="Microchip Number" maxlength="15" id="registerCat.Cats[@Model.Index].MicrochipNumber" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].Insured">Insured:</label>
    <input type="checkbox" name="registerCat.Cats[@Model.Index].Insured" class="insuredCheckbox" id="registerCat.Cats[@Model.Index].Insured" />
</div>
<div class="inputGroup insuranceDetailsInput">
    <label for="registerCat.Cats[@Model.Index].InsuranceCompany">Insurance Company:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].InsuranceCompany" placeholder="Insurance Company" maxlength="50" id="registerCat.Cats[@Model.Index].InsuranceCompany" />
</div>
<div class="inputGroup insuranceDetailsInput">
    <label for="registerCat.Cats[@Model.Index].InsurancePolicyNumber">Insurance Policy Number:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].InsurancePolicyNumber" placeholder="Insurance Policy Number" maxlength="50" id="registerCat.Cats[@Model.Index].InsurancePolicyNumber" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].GeneralHealthDetails">General Health Details:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].GeneralHealthDetails" placeholder="General Health Details" maxlength="50" id="registerCat.Cats[@Model.Index].GeneralHealthDetails" />
</div>
<div class="inputGroup">
    <label for="registerCat.Cats[@Model.Index].VetDetails">Vet Details:</label>
    <input type="text" name="registerCat.Cats[@Model.Index].VetDetails" placeholder="Vet Details" maxlength="50" id="registerCat.Cats[@Model.Index].VetDetails" />
</div>
